
{% extends "base.html.twig" %}

{% block title %}
    Student page
{% endblock %}

{% block content %}
<div style="width:70%;">
<h1 style="background-color: #7386D5;color:white;border-radius:15px;margin-bottom:20px;text-align:center;margin-top:10px;">Add Student</h1>
               <div class="form">
               {{form_start(form)}}
               {{form_widget(form)}}
                            <div class="line"></div>
                        <div class="form-group" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                        {{form_end(form)}}
                        </div>
</div>

{# <div class="col-10" style="margin-left: 250px;margin-top: -400px;width: 70%;">
<h3 style="background-color: gray;color:white;border-radius:15px;margin-top:20px;padding:5px;">Student Data</h3><br />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                        
                            <tr>
                                <th style=" background-color: #04AA6D;color: white;">Addmission Number</th>
                                <th style=" background-color: #04AA6D;color: white;">Name</th>
                                <th style=" background-color: #04AA6D;color: white;">class</th>
                                <th style="text-align: center;background-color: #04AA6D;color: white;">Delete</th>
                                <th style="text-align: center;background-color: #04AA6D;color: white;">Update</th>
                            </tr>
                             {% for student in students %}
                                    <tr>
                                        <td>{{student.admission_number}}</td>
                                        <td>{{student.name}}</td>
                                        <td>{{student.class_name}}</td>
                                        <td style="text-align:center;"><button type="button" class="btn btn-danger"><a style="color:white;text-decoration:none; width:30%;" href="/deletestudent/{{ student.id }}" class="delete_classdata"><i style="margin-right: 5px;" class="fa-solid fa-trash-can"></i>Delete</a></button></td>
                                        <td style="text-align:center;"><button type="button" class="btn btn-warning"><a style="color:white;text-decoration:none; width:30%;" href="/updatestudent/{{ student.id }}" class="delete_classdata"><i style="margin-right: 5px;" class="fa-solid fa-pen-to-square"></i>Edit</a></button></td>
                                    </tr>
                                    {% endfor %}
                        </table>
        </div>
    </div> #}
{% endblock %}