{# {% if title %}
<p>{{title}} is a movie</p>
{% else %}
<p> whoops, no title has been set</p>
{% endif %} #}

{% extends "base.html.twig" %}

{% block title %}
    Student page
{% endblock %}

{% block content %}
<div class="col-10">
      student
    </div>
   {# {% for movie in movies %}
   <li>{{movie}}</li> #}

{# <img src="{{asset('build/images/image1.55049960.jpg')}}" alt=""> #}
   {# {{_self}}
   {{_charset}} #}
    
   {# {% endfor %} #}
{% endblock %}